* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    color: white;
}

button {
    margin-top: 2em;
    padding: 1em;
    width: 25vw;
    border-radius: 2em;
    font-size: 1.5em;
    background-color: rgb(230,230,230);
    opacity: 0.5;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: white;
    opacity: 1;
    transition: 0.5s;
}

#mcmMCD {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 60vw;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    border: none; 
    background-color: transparent;  
    color: #666666;
    border-bottom: 0.2em #666666 solid;
}  

input:focus {
    width: 60vw;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    border: none; 
    background-color: transparent;  
    color: #aaaaaa;
    border-bottom: 0.2em #666666 solid;
}  

#MCD, #mcm {
    font-size: 2em;
}


